:root{
    --background-color:#3369e7;
    --text-color-1:white;
    --text-color-2:#bcced6;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.5rem;
}
.btn{
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
}
.btn-1{
    background: #3dd4d1;
    color: white;
}
.btn-2{
    background: #4c7aed;
    color: white;
}
a{
    text-decoration: none;
    color: var(--text-color-1);
}
p{
    padding: 1rem 0;
}
li{
    list-style: none;
    float: left;
    padding: 1rem 0.5rem;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
}
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.pb-1{
    padding-bottom: 1rem;
}
.m-2{
    margin:-2rem;
}
.p-2{
    padding: 2rem;
}
.container{
    max-width: 1100px;
    margin: auto;
    background:var(--background-color);
}
.container-2{
    max-width: 1100px;
    margin: auto;
    background:white;
}
body{
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

#navbar{
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}
#navbar .menu{
    padding:10px 0px 10px 10px;
}
#navbar .media-icon span{
    padding: 1rem 0.5rem;
}
#main-header{
    margin-top: 2rem;
}
#main-header .main-header{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}
#main-header .showcase {
    width: 100%;
    position: relative;
}
#main-header .showcase .layer .showcase-img{
background: url(../images/banner.jpg) no-repeat center center/cover;
height: 60vh;
width: 100%;

}
#main-header.showcase .layer{
    position: relative;
}
#main-header .showcase .showcase-img::before{
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
#main-header .container .showcase .showcase-content{
    position: absolute;
    top:20vh;
    left:50px;
    color: white;
    flex: 1;
}
#main-header .container .showcase .showcase-content p,
#main-header .container .showcase .showcase-content span{
color: var(--text-color-2);
}
#main-header .container .showcase .showcase-content p{
    width: 60%;
}
#main-header .container .showcase .showcase-content span{
    font-size: 2rem;
}
#main-header .container .showcase .showcase-content .btn{
border: 1px solid var(--text-color-1);
}
#main-header .container .showcase .showcase-content .btn a{
    color: var(--text-color-1);
}
#info .container-2 .info-container .about{
 display: flex;
}
#info .container-2 .info-container .about .about-content{
    flex: 3;
}
#info .container-2 .info-container .about .about-content h1{

}
#info .container-2 .info-container .about .about-img{
    background: url(../images/about.jpg) no-repeat center center/cover;
    flex: 2;
}
#info .container-2 .info-container .about .about-content .btn{
    margin-right: 5px;
    color: white;
}
#info .container-2 .info-container .about .about-content p{
    color: var(--text-color-2);
}
#service .service-container{
    width: 100%;
    background: #fff2f2;
}
#service .service-container .service-contents .content{
display: flex;
}
#service .service-container .service-contents .content >div{
    background: white;
    padding-bottom: 4rem;
    text-align: center;
    padding-top: 2rem;
}
#service .service-container .service-contents .content span{
    font-size: 2rem;
    color:lightskyblue;
}
#service .service-container .service-contents .content p{
    color: var(--text-color-2);
}