:root{
    --background-color:#3369e7;
    --text-color-1:white;
    --text-color-2:#707579;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.5rem;
}
.btn{
    padding: 0.5rem 1rem;
    border: none;
    display: inline-block;
}
.btn-1{
    background: #3dd4d1;
    color: white;
}
.btn-2{
    background: #4c7aed;
    color: white;
}
.btn-4{
    background: black;
    color: white;
}
a{
    text-decoration: none;
    color: var(--text-color-1);
}
p{
    padding: 1rem 0;
}
li{
    list-style: none;
    float: left;
    padding: 1rem 0.5rem;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
}
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Ultility classes */
.pb-1{
    /* padding-bottom: 1rem; */
    font-size: 36px;
    color: #000;
    font-weight: 100;
    margin-bottom: 3rem !important;
}
.pr-1{
    padding-right: 1rem;
}
.m-2{
    margin:-2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mr-1{
    margin-right: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.p-2{
    padding: 2rem 4rem;
}
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.font-2x{
    font-size: 2rem;
}
.font-3x{
    font-size: 3rem;
}
.text-red{
    color: red;
}
.text-light-blue{
    color: #34abeb;
}
.text-dark-blue{
    color: blue;
}
.bar-red{
    background: red;
    width: 90%;
    height: 3px;
}
.bar-light-blue{
    background: #34abeb;
    width: 85%;
    height: 3px;
}
.bar-dark-blue{
    background: blue;
    width: 70%;
    height: 3px;
}

.text-color-primary{
    color: var(--text-color-2);
}
.container{
    max-width: 1100px;
    margin: auto;
    background:var(--background-color);
}
.container-2{
    max-width: 1100px;
    margin: auto;
    background:white;
}
body{
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
}



/* Navigation bar */

#navbar{
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}
#navbar .menu{
    padding:10px 0px 10px 10px;
}
#navbar .media-icon span{
    padding: 1rem 0.5rem;
}



/* Header */
#main-header{
    margin-top: 2rem;
}
#main-header .main-header{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}
#main-header .showcase {
    width: 100%;
    position: relative;
}
#main-header .showcase .layer .showcase-img{
background: url(../images/banner.jpg) no-repeat center center/cover;
height: 60vh;
width: 100%;

}
#main-header.showcase .layer{
    position: relative;
}
#main-header .showcase .showcase-img::before{
    position: absolute;
    content: '';
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
#main-header .container .showcase .showcase-content{
    position: absolute;
    top:20vh;
    left:50px;
    color: white;
    flex: 1;
}
#main-header .container .showcase .showcase-content p,
#main-header .container .showcase .showcase-content span{
color: wheat;
}
#main-header .container .showcase .showcase-content p{
    width: 60%;
}
#main-header .container .showcase .showcase-content span{
    font-size: 2rem;
}
#main-header .container .showcase .showcase-content .btn{
border: 1px solid var(--text-color-1);
}
#main-header .container .showcase .showcase-content .btn a{
    color: var(--text-color-1);
}

/* Section About Me */
#info .container-2 .info-container .about{
 display: flex;
}
#info .container-2 .info-container .about .about-content{
    flex: 3;
}

#info .container-2 .info-container .about .about-img{
    background: url(../images/about.jpg) no-repeat center center/cover;
    flex: 2;
}
#info .container-2 .info-container .about .about-content .btn{
    margin-right: 5px;
    color: white;
}
#info .container-2 .info-container .about .about-content p{
    color: var(--text-color-2);
}

/* Section Services */
#service .service-container{
    width: 100%;
    background: #f6f6f6;
}
#service .service-container .service-contents .content{
display: flex;
}
#service .service-container .service-contents .content >div{
    background: white;
    padding-bottom: 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-left: 2rem;
}
#service .service-container .service-contents .content >div:first-child{
    margin-left: 0;
}
#service .service-container .service-contents .content span{
    font-size: 2rem;
    color:lightskyblue;
}
#service .service-container .service-contents .content p{
    color: var(--text-color-2);
}


/* Section Skills */
#skills .skill-container .skill-contents{
    display: flex;
}
#skills .skill-container .skill-contents .skill-content{
    flex:1;
}
#skills .skill-container .skill-contents .skill-icons{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    text-align: center;
}
#skills .skill-container .skill-contents .skill-icons .icon{
display: flex;
flex-direction: row;
flex: 1;
align-content: space-between;
}
#skills .skill-container .skill-contents .skill-icons .icon-item{
    flex: 1;
}
#skills .skill-container .skill-contents .skill-icons .icon-item{
    font-weight: bolt;
}

#skills .skill-container .skill-contents .skill-icons .icon-content{
    color: var(--text-color-2);
}
.#skills .skill-container .skill-contents .skill-content >div{
    width: 100%;
}
.#skills .skill-container .skill-contents .skill-content .progess-bar{
    height: 2px;
}
/* Section Project */
#project .container-2 .project-container{
    background: #f6f6f6;
    width: 100%;
}
#project .container-2 .project-container .project-img{
    display: flex;
    flex-direction: column;;
}
#project .container-2 .project-container .project-img .img-top,
#project .container-2 .project-container .project-img .img-bottom{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

#project .container-2 .project-container .project-img .img-top .img-1{
    background: url(../images/p1.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-top .img-2{
    background: url(../images/p2.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-top .img-3{
    background: url(../images/p3.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-top .img-4{
    background: url(../images/p4.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-bottom .img-1{
    background: url(../images/p5.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-bottom .img-2{
    background: url(../images/p6.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-bottom .img-3{
    background: url(../images/p7.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}
#project .container-2 .project-container .project-img .img-bottom .img-4{
    background: url(../images/p8.jpg) no-repeat center center/cover;
    height: 200px;
    flex: 1;
}

/* Section Education and Experience */
#edu .edu-container .edu-title .button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#edu .edu-container .edu-title .button .btn{
    margin-right: 10px;
}